# ==========================================
# C++ / Executáveis e Binários
# ==========================================
*.o
*.obj
*.out
*.exe
*.app
a.out

# ==========================================
# Entradas e Saídas (Testes Locais)
# ==========================================
input.txt
output.txt
*.in
temp.txt

# ==========================================
# Debug e Crash (Linux/GDB)
# ==========================================
core
vgcore.*
*.log
*.dSYM/

# ==========================================
# Pastas de IDE e Editor (VS Code)
# ==========================================
.vscode/
.idea/
*.swp
*~

# ==========================================
# Pessoal
# ==========================================
mental maps/
scripts/